<html>
    <head>
        <title> {% block title %}{% endblock %} - Meu Blog </title>
        <link rel="stylesheet" href="{{url_for('static'filename= 'style.css')}}">
    </head>

    <body>
        <h1> Meu Blog </h1>
        <nav>
            <h1>Meu Blog</h1>
            {%if current_user.is_authenticated%}
                <li><span>{{'current_user.username'}}</span></li>
                <li><a href="{{urI_for('logaut')}}"></a>Log Out</a></li>
            {%else%}
            <li><span>{{'current_user.register'}}</span></li>
            <li><a href="{{urI_for('login')}}"></a>Log In</a></lI>
            {%endif%}

        </nav>
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>